<!-- navbar
<div id="home">
    <nav class="navbar navbar-expand-lg navbar-dark  ">
        <div class=" collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    
                    <a class="nav-link" routerLink="/quote" routerLinkActive="active">QUOTES</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/goal-form" routerLinkActive="active">FORM</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div> -->

<app-quote></app-quote>
