<section class="py-5">
  <div *ngFor='let quote of quotes; let i = index'>
    <div class="continer my-5">
      <div class="row parent-container">
        <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
          <div class="item-container">
            <h2>QUOTE</h2>
            <div class="card">
              <img class="card-img-top" src="" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title" id={{i}} appStrikethrough>{{quote.name}}</h4>

                <button (click)='toggleDetails(i)' class="btn btn-primary">Open Quote</button>
                <div *ngIf='quote.showDescription'>

                  <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete)='deleteQuote($event,i)'>
                  </app-quote-detail>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-goal-form (addQuote)="addNewQuote($event)"></app-goal-form>
  </div>
</section>