/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Caveat', cursive;
    padding: 0;
     margin: 0;
    text-decoration: none;
    width: auto;
    height: 100%;
    background-image: url(https://bit.ly/2wRkxkP);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: large;
    }

    
   